body{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#header{
    height: 120px;
    widows: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61dafb;
}

.center{
    width: 75%;
    margin: 0px auto;
}

#logo{
    width: 30%;
    font-size: 30px;
    float: left;
}

#logo img{
    display: block;
    float: left;
    height: 60px;
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}