<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a href="#" class="btn btn-success" [routerLink]="['/blog/new']">Crear artículo</a>
    </div>
    <div id="nav-search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Encuentra el articulo que buscas</p>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <input type="text" name="search" #searchField="ngModel" [(ngModel)]="searchString" required>
            <small *ngIf="!searchField.valid && searchField.touched">El campo buscar esta vacio</small>
            <input type="submit" name="submit" value="Buscar" class="btn" [disabled]="!searchForm.valid">
        </form>
    </div>
</aside>

<div class="clearfix"></div>