<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">
        <h2 class="subheader">Peliculas</h2>
        <p>{{ titulo }}</p>
        <button (click)="cambiarTitulo()">Pulsame</button>


        <hr />

        <div *ngIf="peliculas.length <= 3">
            <p>No hay muchas peliculas</p>
        </div>

        <div *ngIf="peliculas.length > 3">
            <p>Hay muchas peliculas</p>
        </div>
        <h2 class="subheader">Numero de peliculas: {{peliculas.length}}</h2>
        <div id="favorita" *ngIf="peliculaFavorita">
            <h2 class="subheader">Pelicula Favorita</h2>
            <h4>
                {{peliculaFavorita.title | uppercase}}
            </h4>
            <h4>
                {{peliculaFavorita.year | espar}}
            </h4>
        </div>
        <h2 class="subheader">Peliculas</h2>
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula [pelicula]="pelicula" (marcarFavorita)="mostrarFavorita(pelicula)"></app-pelicula>
            </div>
        </div>
    </section>

    <app-sidebar></app-sidebar>
</div>